
@{
    Layout = null;
}



<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="robots" content="noindex,follow">
    <title>提示：您即将访问未知链接</title>
    <meta http-equiv="refresh" content="3;url='@ViewBag.link';">
</head>
<body class="ie8">
    <div class="loader">
        <div style="font-weight:900;font-size:48px;text-align:center;font-family:STCaiyun;line-height:200px">即将访问外部网站>>>>></div>
    </div>
    <div>
        <img src="~/Content/icon/loading.gif" style="margin-left:250px"/>
    </div>
</body>
</html>
