@using Models
@{
    UserInfo infos = Session["user"] as UserInfo;
    if (infos!=null)
    {
        Session["uid"] = infos.UserID;
    }
    List<Advertisement> alist = Session["a"] as List<Advertisement>;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="Shortcut Icon" href="~/Content/Layout/Titile.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    @*<script src="~/Scripts/jquery.validate.min.js"></script>*@
    <script src="~/Scripts/jquery.validate.js"></script>
    <style>
        body {
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-attachment: fixed;
            background-image: url('../../Content/Resouces/Images/e27ffbf57a28588657c7e40c45dccf0d.jpg');
        }

        .error {
            display: block;
            font-size: 10px;
            color: red;
        }
    </style>
</head>
<body>
    <div style="position:fixed;width:100%;height:auto;z-index:9999;opacity:0.8">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            @*style="background-color: rgba(0, 0, 0, 0.4)"*@
            <!-- Brand/logo -->
            <img src="~/Content/Layout/Logo.png" style="width:50px;height:50px;" />
            <a class="navbar-brand" href="#" style="padding-top:10px;font-family:STXingkai;font-size:24px">繁星资源网</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto" style="font-family:YouYuan">
                    <li class="nav-item">
                        <a class="nav-link af" href="/Home/Index" style="font-size:14px;font-weight:bold">
                            <svg t="1592142582736" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="20008" width="16" height="16"><path d="M618.666667 939.52h106.410666a64 64 0 0 0 64.256-63.872v-385.237333a21.333333 21.333333 0 0 1 21.376-21.333334l104.533334 0.213334a24.32 24.32 0 0 0 18.773333-8.576c7.509333-9.088 5.888-21.973333-4.906667-30.08l-402.133333-340.48c-8.661333-6.485333-21.12-6.485333-28.8-0.853334l-404.181333 341.973334a20.650667 20.650667 0 0 0-8.576 16.469333c0 11.52 10.24 21.333333 23.466666 21.333333H213.333333a21.333333 21.333333 0 0 1 21.333334 21.546667v385.066667c0 34.986667 28.885333 63.829333 64.256 63.829333H405.333333V725.333333c0-58.026667 38.954667-106.666667 89.6-106.666666h34.133334c50.645333 0 89.6 48.64 89.6 106.666666v214.186667z m-42.666667 0V725.333333c0-36.266667-22.186667-64-46.933333-64h-34.133334c-24.746667 0-46.933333 27.733333-46.933333 64v214.186667h128z m256-427.733333v363.861333a106.666667 106.666667 0 0 1-106.922667 106.538667H298.922667A106.922667 106.922667 0 0 1 192 875.690667v-363.946667H108.885333c-36.309333 0-66.133333-28.416-66.133333-64 0-19.882667 9.514667-38.570667 24.661333-49.834667l404.224-341.930666a68.266667 68.266667 0 0 1 81.877334 0.768l402.176 340.522666c29.184 21.802667 34.346667 62.592 11.306666 90.581334a66.986667 66.986667 0 0 1-51.797333 24.106666l-83.2-0.170666z" p-id="20009" fill="#bfbfbf"></path></svg>
                            首页
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link af" href="/Home/FuLi" style="font-size:14px;font-weight:bold">
                            <svg class="bi bi-gift" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M2 6v8.5a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 .5-.5V6h1v8.5a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 1 14.5V6h1zm8-5a1.5 1.5 0 0 0-1.5 1.5c0 .098.033.16.12.227.103.081.272.15.49.2A3.44 3.44 0 0 0 9.96 3h.015L10 2.999l.025.002h.014A2.569 2.569 0 0 0 10.293 3c.17-.006.387-.026.598-.073.217-.048.386-.118.49-.199.086-.066.119-.13.119-.227A1.5 1.5 0 0 0 10 1zm0 3h-.006a3.535 3.535 0 0 1-.326 0 4.435 4.435 0 0 1-.777-.097c-.283-.063-.614-.175-.885-.385A1.255 1.255 0 0 1 7.5 2.5a2.5 2.5 0 0 1 5 0c0 .454-.217.793-.506 1.017-.27.21-.602.322-.885.385a4.434 4.434 0 0 1-1.104.099H10z" />
                                <path fill-rule="evenodd" d="M6 1a1.5 1.5 0 0 0-1.5 1.5c0 .098.033.16.12.227.103.081.272.15.49.2A3.44 3.44 0 0 0 5.96 3h.015L6 2.999l.025.002h.014l.053.001a3.869 3.869 0 0 0 .799-.076c.217-.048.386-.118.49-.199.086-.066.119-.13.119-.227A1.5 1.5 0 0 0 6 1zm0 3h-.006a3.535 3.535 0 0 1-.326 0 4.435 4.435 0 0 1-.777-.097c-.283-.063-.614-.175-.885-.385A1.255 1.255 0 0 1 3.5 2.5a2.5 2.5 0 0 1 5 0c0 .454-.217.793-.506 1.017-.27.21-.602.322-.885.385a4.435 4.435 0 0 1-1.103.099H6zm1.5 12V6h1v10h-1z" />
                                <path fill-rule="evenodd" d="M15 4H1v1h14V4zM1 3a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H1z" />
                            </svg>
                            福利
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link af" href="/Home/ShouJi" style="font-size:14px;font-weight:bold">
                            <svg class="bi bi-phone" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M11 1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z" />
                                <path fill-rule="evenodd" d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                            </svg>
                            手机
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link af" href="/Home/XueXi" style="font-size:14px;font-weight:bold">
                            <svg class="bi bi-book" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M3.214 1.072C4.813.752 6.916.71 8.354 2.146A.5.5 0 0 1 8.5 2.5v11a.5.5 0 0 1-.854.354c-.843-.844-2.115-1.059-3.47-.92-1.344.14-2.66.617-3.452 1.013A.5.5 0 0 1 0 13.5v-11a.5.5 0 0 1 .276-.447L.5 2.5l-.224-.447.002-.001.004-.002.013-.006a5.017 5.017 0 0 1 .22-.103 12.958 12.958 0 0 1 2.7-.869zM1 2.82v9.908c.846-.343 1.944-.672 3.074-.788 1.143-.118 2.387-.023 3.426.56V2.718c-1.063-.929-2.631-.956-4.09-.664A11.958 11.958 0 0 0 1 2.82z" />
                                <path fill-rule="evenodd" d="M12.786 1.072C11.188.752 9.084.71 7.646 2.146A.5.5 0 0 0 7.5 2.5v11a.5.5 0 0 0 .854.354c.843-.844 2.115-1.059 3.47-.92 1.344.14 2.66.617 3.452 1.013A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.276-.447L15.5 2.5l.224-.447-.002-.001-.004-.002-.013-.006-.047-.023a12.582 12.582 0 0 0-.799-.34 12.96 12.96 0 0 0-2.073-.609zM15 2.82v9.908c-.846-.343-1.944-.672-3.074-.788-1.143-.118-2.387-.023-3.426.56V2.718c1.063-.929 2.631-.956 4.09-.664A11.956 11.956 0 0 1 15 2.82z" />
                            </svg>
                            学习
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link af" href="/Home/JianZhan" style="font-size:14px;font-weight:bold">
                            <svg class="bi bi-file-earmark-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 1H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h5v-1H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h5v2.5A1.5 1.5 0 0 0 10.5 6H13v2h1V6L9 1z" />
                                <path fill-rule="evenodd" d="M13.5 10a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z" />
                                <path fill-rule="evenodd" d="M13 12.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z" />
                            </svg>
                            建站
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link af" href="/Home/DianNao" style="font-size:14px;font-weight:bold">
                            <svg class="bi bi-laptop" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M13.5 3h-11a.5.5 0 0 0-.5.5V11h12V3.5a.5.5 0 0 0-.5-.5zm-11-1A1.5 1.5 0 0 0 1 3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2h-11z" />
                                <path d="M0 12h16v.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5V12z" />
                            </svg>
                            PC端
                        </a>
                    </li>
                </ul>
                @if (Session["user"] == null)
                {
                    <a href="#" class="btn btn-success" style="font-size:12px;color:white" data-dismiss="#Register" data-toggle="modal" data-target="#Login">登录/注册</a>
                }
                else
                {
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white;font-size:12px">
                            @infos.UserName
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <a class="dropdown-item" href="/User/UserCenter?id=@infos.UserID">个人中心</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#Login">切换账号</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/Home/Exit">注销用户</a>
                        </div>
                    </div>
                    <a href="/User/UserCenter?id=@infos.UserID">
                        <img src="~/Content/icon/@infos.UserPicture" style=" width: 40px; height: 40px; display: flex; border-radius: 50%;border:2px solid #FFFFFF; align-items: center; justify-content: center; overflow: hidden" />
                    </a>
                }
            </div>
        </nav>
    </div>
    <div class="container body-content" style="padding-top:70px">
        @RenderBody()
    </div>
    <footer style="background-color:black;text-align:center;height:120px;line-height:40px;width:100%;opacity:0.8">
        <p style="color:white">&copy;@DateTime.Now.Year - 繁星资源网<一个专注于分享各种开放型资源的网站><br />了解更多请关注QQ：2205579785 或 微博@十分di优秀</p>
    </footer>
    @*//登录模态框*@

    <div class="modal fade" id="Login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top:60px">
        <div class="modal-dialog modal-sm">

            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLabel" style="color:greenyellow">用户登录</h6>
                    <button type="button" class="close" data-dismiss="modal" data-toggle="modal" data-target="#Register">
                        <svg t="1592145682210" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="20912" width="24" height="24"><path d="M16.275456 782.244864" p-id="20913" fill="#515151"></path><path d="M667.128832 729.61024 667.128832 894.184448 957.792256 631.015424 667.128832 385.526784 667.128832 525.357056 395.318272 525.357056 395.318272 729.61024Z" p-id="20914" fill="#515151"></path><path d="M326.972416 581.523456 326.972416 457.801728 599.568384 457.801728 599.568384 253.546496 326.972416 253.546496 326.972416 126.67904 67.731456 358.812672Z" p-id="20915" fill="#515151"></path><path d="M977.830912 782.244864" p-id="20916" fill="#515151"></path></svg>
                    </button>
                </div>
                <form action="/Home/LoginModal" method="post" id="LoginModal">
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    <svg t="1592210331443" class="icon" viewBox="0 0 1126 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2970" width="16" height="16"><path d="M792.576 379.392a25.6 25.6 0 0 0 25.2928 25.8048h283.2384A25.6 25.6 0 0 0 1126.4 379.392a25.6 25.6 0 0 0-25.2928-25.8048h-283.2384a25.6 25.6 0 0 0-25.344 25.8048z m303.9232 80.7424H761.856c-16.5376 0-29.9008 11.6224-29.9008 25.7536 0 14.1824 13.312 25.7536 29.9008 25.7536h334.6432c16.4864 0 29.9008-11.5712 29.9008-25.7536 0-14.1312-13.4144-25.7536-29.9008-25.7536z m4.608 106.496h-283.2384a25.6 25.6 0 0 0-25.344 25.7536 25.6 25.6 0 0 0 25.344 25.7536h283.2384A25.6 25.6 0 0 0 1126.4 592.384a25.6 25.6 0 0 0-25.2928-25.8048zM543.0272 1024H341.6576C150.8352 1024 0 1024 0 923.648v-20.1216c0-188.16 153.2928-341.1968 341.7088-341.1968h201.2672c188.416 0 341.76 153.0368 341.76 341.1968v20.0704C884.6848 1024 726.3232 1024 542.976 1024z m-203.1616-405.1456c-158.464 0-287.4368 128.4096-287.4368 286.208v20.48c0 40.9088 166.0928 40.9088 287.4368 40.9088h204.9536c100.4544 0 287.4368 0 287.4368-40.96v-20.3776c0-157.8496-128.9728-286.208-287.4368-286.208H339.8656z m92.416-76.7488a271.4112 271.4112 0 0 1-271.2064-271.0528A271.36 271.36 0 0 1 432.2816 0a271.36 271.36 0 0 1 271.2064 271.0528 271.4624 271.4624 0 0 1-271.2064 271.0528z m-215.3472-271.872c0 118.1696 96.6144 214.3232 215.3472 214.3232 118.784 0 215.3984-96.1536 215.3984-214.3232 0-118.2208-96.6144-214.3232-215.3984-214.3232S216.9344 152.0128 216.9344 270.2336z" p-id="2971" fill="#cdcdcd"></path></svg>
                                </span>
                            </div>
                            <input type="text" class="form-control" id="LoginName" name="LoginName" required="required" placeholder="请输入账号" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    <svg t="1592210398974" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4083" width="16" height="16"><path d="M807.936 336.384h-12.288c-5.12-66.56-33.792-128.512-81.92-176.64C659.968 106.496 589.312 76.8 514.56 76.8c-147.968 0-269.312 114.688-280.576 259.072h-12.288c-78.848 0-143.36 64.512-143.36 143.36v327.168c0 78.848 64.512 143.36 143.36 143.36h586.24c78.848 0 143.36-64.512 143.36-143.36V479.744c0-79.36-64.512-143.36-143.36-143.36zM514.56 158.72c53.248 0 102.912 20.992 140.8 58.88 32.768 32.768 52.736 74.24 57.344 118.784H315.904C327.168 236.544 412.16 158.72 514.56 158.72z m354.816 647.68c0 33.792-27.648 61.44-61.44 61.44H221.696c-33.792 0-61.44-27.648-61.44-61.44V479.744c0-33.792 27.648-61.44 61.44-61.44h586.752c33.792 0 61.44 27.648 61.44 61.44v326.656z" fill="#cdcdcd" p-id="4084"></path><path d="M514.56 507.904c-22.528 0-40.96 18.432-40.96 40.96v158.72c0 22.528 18.432 40.96 40.96 40.96s40.96-18.432 40.96-40.96v-158.72c0-22.528-18.432-40.96-40.96-40.96z" fill="#cdcdcd" p-id="4085"></path></svg>
                                </span>
                            </div>
                            <input type="password" class="form-control" id="LoginPwd" name="LoginPwd" required="required" placeholder="请输入密码" aria-label="pwd" aria-describedby="basic-addon1">
                        </div>
                        <div style="margin-left:3%">
                            <input type="checkbox" id="JiZhu" name="JiZhu" checked="checked" /><label style="font-size:12px">记住密码</label>
                        </div>
                        <div style="float:right;font-size:12px">
                            <a href="#">忘记密码？</a>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" style="width:90%;margin-left:5%;margin-bottom:30px" id="loginsubmit">登录</button>
                </form>
            </div>

        </div>
    </div>

    @*//注册模态框*@
    <div class="modal fade" id="Register" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabe2" aria-hidden="true" style="margin-top:60px">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLabel" style="color:blueviolet">用户注册</h6>
                    <button type="button" class="close" data-dismiss="modal" data-toggle="modal" data-target="#Login">
                        <svg t="1592145682210" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="20912" width="24" height="24"><path d="M16.275456 782.244864" p-id="20913" fill="#515151"></path><path d="M667.128832 729.61024 667.128832 894.184448 957.792256 631.015424 667.128832 385.526784 667.128832 525.357056 395.318272 525.357056 395.318272 729.61024Z" p-id="20914" fill="#515151"></path><path d="M326.972416 581.523456 326.972416 457.801728 599.568384 457.801728 599.568384 253.546496 326.972416 253.546496 326.972416 126.67904 67.731456 358.812672Z" p-id="20915" fill="#515151"></path><path d="M977.830912 782.244864" p-id="20916" fill="#515151"></path></svg>
                    </button>
                </div>

                <div class="modal-body">
                    <form action="/Home/RegisterModal" method="post" id="RegisterModal">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    <svg t="1592210331443" class="icon" viewBox="0 0 1126 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2970" width="16" height="16"><path d="M792.576 379.392a25.6 25.6 0 0 0 25.2928 25.8048h283.2384A25.6 25.6 0 0 0 1126.4 379.392a25.6 25.6 0 0 0-25.2928-25.8048h-283.2384a25.6 25.6 0 0 0-25.344 25.8048z m303.9232 80.7424H761.856c-16.5376 0-29.9008 11.6224-29.9008 25.7536 0 14.1824 13.312 25.7536 29.9008 25.7536h334.6432c16.4864 0 29.9008-11.5712 29.9008-25.7536 0-14.1312-13.4144-25.7536-29.9008-25.7536z m4.608 106.496h-283.2384a25.6 25.6 0 0 0-25.344 25.7536 25.6 25.6 0 0 0 25.344 25.7536h283.2384A25.6 25.6 0 0 0 1126.4 592.384a25.6 25.6 0 0 0-25.2928-25.8048zM543.0272 1024H341.6576C150.8352 1024 0 1024 0 923.648v-20.1216c0-188.16 153.2928-341.1968 341.7088-341.1968h201.2672c188.416 0 341.76 153.0368 341.76 341.1968v20.0704C884.6848 1024 726.3232 1024 542.976 1024z m-203.1616-405.1456c-158.464 0-287.4368 128.4096-287.4368 286.208v20.48c0 40.9088 166.0928 40.9088 287.4368 40.9088h204.9536c100.4544 0 287.4368 0 287.4368-40.96v-20.3776c0-157.8496-128.9728-286.208-287.4368-286.208H339.8656z m92.416-76.7488a271.4112 271.4112 0 0 1-271.2064-271.0528A271.36 271.36 0 0 1 432.2816 0a271.36 271.36 0 0 1 271.2064 271.0528 271.4624 271.4624 0 0 1-271.2064 271.0528z m-215.3472-271.872c0 118.1696 96.6144 214.3232 215.3472 214.3232 118.784 0 215.3984-96.1536 215.3984-214.3232 0-118.2208-96.6144-214.3232-215.3984-214.3232S216.9344 152.0128 216.9344 270.2336z" p-id="2971" fill="#cdcdcd"></path></svg>
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="注册账号" id="LoginNames" name="LoginNames">
                        </div>
                        @*密码*@
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                                <svg t="1592210398974" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4083" width="16" height="16"><path d="M807.936 336.384h-12.288c-5.12-66.56-33.792-128.512-81.92-176.64C659.968 106.496 589.312 76.8 514.56 76.8c-147.968 0-269.312 114.688-280.576 259.072h-12.288c-78.848 0-143.36 64.512-143.36 143.36v327.168c0 78.848 64.512 143.36 143.36 143.36h586.24c78.848 0 143.36-64.512 143.36-143.36V479.744c0-79.36-64.512-143.36-143.36-143.36zM514.56 158.72c53.248 0 102.912 20.992 140.8 58.88 32.768 32.768 52.736 74.24 57.344 118.784H315.904C327.168 236.544 412.16 158.72 514.56 158.72z m354.816 647.68c0 33.792-27.648 61.44-61.44 61.44H221.696c-33.792 0-61.44-27.648-61.44-61.44V479.744c0-33.792 27.648-61.44 61.44-61.44h586.752c33.792 0 61.44 27.648 61.44 61.44v326.656z" fill="#cdcdcd" p-id="4084"></path><path d="M514.56 507.904c-22.528 0-40.96 18.432-40.96 40.96v158.72c0 22.528 18.432 40.96 40.96 40.96s40.96-18.432 40.96-40.96v-158.72c0-22.528-18.432-40.96-40.96-40.96z" fill="#cdcdcd" p-id="4085"></path></svg>
                            </span>
                        </div>
                        <input type="password" class="form-control" placeholder="输入密码" id="LoginPwds" name="LoginPwds"><br />
                    </div>
                        @*确认密码*@
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    <svg t="1592212082001" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5775" width="16" height="16"><path d="M718.77 960H305.23c-66.51 0-120.62-54.12-120.62-120.62V502.91c0-66.5 54.11-120.62 120.62-120.62h383.52V275.21c0-97.46-79.29-176.75-176.75-176.75s-176.75 79.29-176.75 176.75v38.89c0 9.52-7.72 17.23-17.23 17.23s-17.23-7.71-17.23-17.23v-38.89C300.79 158.75 395.54 64 512 64s211.21 94.75 211.21 211.21v107.17c64.46 2.34 116.17 55.51 116.17 120.53v336.47c0 66.5-54.1 120.62-120.61 120.62zM305.23 416.76c-47.5 0-86.15 38.65-86.15 86.15v336.47c0 47.5 38.65 86.15 86.15 86.15h413.54c47.5 0 86.15-38.65 86.15-86.15V502.91c0-47.5-38.65-86.15-86.15-86.15H305.23zM512 860.69c-104.51 0-189.54-85.03-189.54-189.52 0-104.53 85.03-189.56 189.54-189.56s189.54 85.03 189.54 189.56c0 104.49-85.03 189.52-189.54 189.52z m0-344.62c-85.51 0-155.08 69.58-155.08 155.09 0 85.5 69.57 155.06 155.08 155.06s155.08-69.56 155.08-155.06c0-85.51-69.57-155.09-155.08-155.09z m-25.11 227.94c-4.57 0-8.95-1.82-12.18-5.05l-61.05-61.06c-6.73-6.73-6.73-17.63 0-24.37s17.63-6.73 24.37 0l48.87 48.88 99.08-99.08c6.73-6.73 17.63-6.73 24.37 0s6.73 17.63 0 24.37L499.08 738.96a17.251 17.251 0 0 1-12.19 5.05z" p-id="5776" fill="#cdcdcd"></path></svg>
                                </span>
                            </div>
                            <input type="password" class="form-control" placeholder="确认密码" id="TrueLoginPwds" name="TrueLoginPwds" /><br />
                        </div>
                        @*邮箱*@
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    <svg t="1592212105636" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="6730" width="16" height="16"><path d="M938.666667 853.333333 85.333333 853.333333c-47.061333 0-85.333333-38.272-85.333333-85.333333L0 256c0-47.061333 38.272-85.333333 85.333333-85.333333l853.333333 0c47.061333 0 85.333333 38.272 85.333333 85.333333l0 512C1024 815.061333 985.728 853.333333 938.666667 853.333333zM85.333333 213.333333c-23.530667 0-42.666667 19.136-42.666667 42.666667l0 512c0 23.530667 19.136 42.666667 42.666667 42.666667l853.333333 0c23.530667 0 42.666667-19.136 42.666667-42.666667L981.333333 256c0-23.530667-19.136-42.666667-42.666667-42.666667L85.333333 213.333333z" p-id="6731" fill="#cdcdcd"></path><path d="M512 622.741333 137.749333 380.586667c-9.898667-6.421333-12.736-19.605333-6.336-29.504s19.605333-12.714667 29.504-6.336L512 571.925333 863.082667 344.746667c9.898667-6.378667 23.104-3.562667 29.504 6.336s3.562667 23.082667-6.336 29.504L512 622.741333z" p-id="6732" fill="#cdcdcd"></path><path d="M128.021333 725.333333c-6.890667 0-13.674667-3.328-17.770667-9.493333-6.549333-9.813333-3.904-23.04 5.909333-29.589333l192-128c9.813333-6.549333 23.061333-3.904 29.589333 5.909333 6.549333 9.813333 3.904 23.04-5.909333 29.589333l-192 128C136.192 724.16 132.074667 725.333333 128.021333 725.333333z" p-id="6733" fill="#cdcdcd"></path><path d="M895.978667 725.333333c-4.053333 0-8.170667-1.173333-11.818667-3.584l-192-128c-9.813333-6.549333-12.458667-19.776-5.909333-29.589333 6.528-9.813333 19.754667-12.458667 29.589333-5.909333l192 128c9.813333 6.549333 12.458667 19.776 5.909333 29.589333C909.653333 722.005333 902.869333 725.333333 895.978667 725.333333z" p-id="6734" fill="#cdcdcd"></path></svg>
                                </span>
                            </div>
                            <input type="email" class="form-control" placeholder="Email" id="E_mails" name="E_mails" />
                        </div>
                        @*验证码*@
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="验证码" required="required" name="validateCode" id="validateCode" />
                            &nbsp;
                            <img src="~/Handler/ValidateCodeHandler.ashx?id=1" onclick="this.src=this.src+1" />
                        </div>
                        <button type="submit" class="btn btn-primary" style="width:90%;margin-left:5%;margin-bottom:30px;margin-top:10px">注册</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
</body>
</html>
<script type="text/javascript">
    $(function () {
        $('#navbarDropdown1').click(function () {
            $('.dropdown-menu').toggle();
        })
    })
    $("#LoginModal").validate({
        rules: {
            LoginName: { required: true, maxlength: 30 },
            LoginPwd: { required: true},
        },
        messages: {
            LoginName: { required: "*账号必填", maxlength: "账号输入内容不能超过30字" },
            LoginPwd: { required: "*密码必填" },
        }
    })
    $("#RegisterModal").validate({
        rules: {
            LoginNames: { required: true, maxlength: 30 },
            LoginPwds: { required: true },
            TrueLoginPwds: { required: true, equalTo: "#LoginPwds" },
            E_mails: { required: true, email: true },
            validateCode: { required: true }
        },
        messages: {
            LoginNames: { required: "*账号必填", maxlength: "账号输入内容不能超过30字" },
            LoginPwds: { required: "*密码必填", checkPwd: "请输入有效的密码：6-15位内的字符数字"},
            TrueLoginPwds: { required: "确认密码必填", equalTo: "前后两次密码不一致" },
            E_mails: { required: "邮箱必填", email: "请输入有效的邮箱格式" },
            validateCode: { required: "验证码非空！" }
        }
    })
    $.validator.addMethod("checkPwd", function (value, e) {
        var reg = /^[A-Za-z0-9]{6,15}$/;
        return reg.test(value);
    })
    $.validator.addMethod("checkEmail", function (value, e) {
        var reg = /^([a-zA-Z]|[0-9])(\w|\-)+@@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/;
        return reg.test(value);
    })

</script>
