<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8">
<title>jQuery图片循环轮播代码</title>

<link type="text/css" rel="stylesheet" href="css/css.css">

<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/index.js"></script>

</head>
<body><script src="/demos/googlegg.js"></script>

<div class="box">
	<!-- 存放大图的容器-->
	<div class="all">
		<div class="top-img">
			<div class="activeimg">
				<img src="img/1.jpg">
				<img src="img/2.jpg">
				<img src="img/3.jpg">
				<img src="img/4.jpg">
				<img src="img/5.jpg">
			</div>
			<div class="left"><img src="img/left.png"> </div>
			<div class="right"><img src="img/right.png"></div>
		</div>
		<!-- 存放缩略图的容器-->
		<div class="bot-img">
			<ul>
				<li class="active"><img src="img/1.jpg"> </li>
				<li><img src="img/2.jpg"> </li>
				<li><img src="img/3.jpg"> </li>
				<li><img src="img/4.jpg"> </li>
				<li><img src="img/5.jpg"> </li>
			</ul>
		</div>
	</div>
</div>

<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
<p>适用浏览器：360、FireFox、Chrome、Safari、Opera、傲游、搜狗、世界之窗. 不支持IE8及以下浏览器。</p>
<p>来源：<a href="http://www.lanrenzhijia.com/" target="_blank">懒人</a></p>
</div>
</body>
</html>
