@model Models.Resouces

@{
    ViewBag.Title = "AddRes";
    Layout = "~/Views/Shared/_MLayout.cshtml";
    if (TempData["saozhu"]!=null)
    {
        <script type="text/javascript">
            alert("@TempData["saozhu"]");
        </script>
    }
}
<form method="post" action="/Mannage/AddRes" enctype="multipart/form-data">
    <div>
        <label>资源名称</label>
        <input type="text" class="form-control" name="Rname" />
        <div class="form-group">
            <label for="Rdescribe">资源描述(限500字)</label>
            <textarea class="form-control" name="Rdescribe" id="Rdescribe" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="Rdemand">下载需求积分</label>
            <select multiple class="form-control" id="Rdemand" name="Rdemand">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
    </div>
    @*类别标签*@
    <div class="form-group">
        <label>类    别：</label><select class="CategoryName form-control-sm" name="CategoryName" id="CategoryName" onchange="provincechange()"><option>请选择类别</option></select>
    </div>
    <div class="form-group">
        <label>标    签：</label><select class="LableName form-control-sm" name="LableName" id="LableName"><option>请选择标签</option></select>
    </div>
    @*链接*@
    <div class="form-group">
        <label>链接描述（100字）</label>
        <input type="text" class="form-control" id="Ldescribe" name="Ldescribe" />
    </div>
    <div class="form-group">
        <label>链接地址</label>
        <input type="text" class="form-control" id="Linkline" name="Linkline" />
    </div>
    <div class="form-group">
        <label>链接备注(50字)</label>
        <input type="text" class="form-control" id="Lremarks" name="Lremarks" />
    </div>
    @*图片*@
    <div class="form-group">
        <label for="FileLable">选择资源图片(请最多只选取五个文件超出无效！)</label>
        <input type="file" class="form-control-file btn-lg" id="Picture" name="Picture" multiple="multiple">
    </div>
    <input type="submit" class="btn btn-success btn-lg" name="submit" id="submit" value="提交" style="min-width:150px"/>
</form>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    var CategoryNames = ['请选择类别', '福利资源', '手机资源', '学习资源', '建站资源', 'PC端资源'];
    var LableNames = [['请选择标签'],
    ["开放下载", "免费电影"],
    ["安卓", "苹果", "破解软件"],
    ["精品课程", "赚钱教程"],
    ["网站源码", "Emolg", "Emolg主题", "Wordpress", "Wordpress主题 "],
    ["Linux", "Windows", "破解软件", "编程源码", "游戏"]];
    $(function () {
        init();
    });
    function init() {
        var CategoryName = document.getElementById('CategoryName');
        CategoryName.length = CategoryNames.length;
        for (var i = 0; i < CategoryNames.length; i++) {
            CategoryName.options[i].text = CategoryNames[i];
            CategoryName.options[i].value = CategoryNames[i];
        }
    }
    function provincechange() {
        var CategoryName = document.getElementById("CategoryName");
        var num = CategoryName.selectedIndex; // 选中option索引
        var LableName = document.getElementById('LableName');
        var LableNamestemp = LableNames[num];
        LableName.length = LableNamestemp.length;
        for (var i = 0; i < LableNamestemp.length; i++) {
            LableName.options[i].text = LableNamestemp[i];
            LableName.options[i].value = LableNamestemp[i];
        }
        LableName.options[0].selected = true;
    }
</script>

