
@{
    ViewBag.Title = "我的收藏";
    Layout = "~/Views/Shared/_LayoutUserMain.cshtml";
}
@using Models;
@using PagedList;
@using PagedList.Mvc;
@{
    List<Resouces> resouce = ViewBag.resouces;
}
@if (ViewBag.number != 0)
{

    <div class="row">
        @foreach (var item in resouce)
        {
        <dl style="width:200px;height:280px;overflow:hidden;margin-left:10px" class="row-cols-1">
            <dt style="height:30%"><a href="/Home/Details?id=@item.ResoucesID"><img src="~/Content/Resouces/Images/@item.Picture.Picture_a" class="card-img-top" alt="..." style="height:100%" /></a></dt>
            <dd style="height:5%"><h5 class="card-title">@item.Rname</h5></dd>
            <dd style="height:45%;overflow:hidden"><a href="/Home/Details?id=@item.ResoucesID" style="text-decoration:none;color:black;font-size:10px">@item.Rdescribe</a></dd>
            <dd style="height:20%"><a href="/User/RemoveCollection?id=@item.ResoucesID" class="btn btn-primary">取消收藏</a></dd>
        </dl>
        }
    </div>
}
else
{
    <img src="~/Content/icon/NoFind.jpg" style="width:300px;height:300px;margin:150px 0px 0px 250px" />
    <label style="font-family:STXingkai">什么都没有哦~~~~</label>
}


