
@{
    ViewBag.Title = "Comment";
    Layout = "~/Views/Shared/_LayoutUserMain.cshtml";
}
    <div>
        <nav aria-label="breadcrumb" style="margin-top:15px">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/User/MainPage">我的账户</a></li>
                <li class="breadcrumb-item active" aria-current="page">评论管理</li>
            </ol>
        </nav>
    </div>

