
@{
    ViewBag.Title = "Contribution";
    Layout = "~/Views/Shared/_LayoutUserMain.cshtml";
    List<Lable> lables = ViewBag.lables;
}
@using Models
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<div>
    <form method="post" action="/User/Contribution">
        @*资源内容*@
        <div>
            <label>资源名称</label>
            <input type="text" class="form-control"/>
            <div class="form-group">
                <label for="Rdescribe">资源描述(限500字)</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>

            <div class="form-group">
                <label for="Rdemand">下载需求积分</label>
                <select multiple class="form-control" id="Rdemand" name="Rdemand">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
        @*类别标签*@
        <div class="form-group">
            <label>类    别：</label><select class="province form-control-sm" name="province" id="param_province" onchange="provincechange()"><option>请选择类别</option></select>
        </div>
        <div class="form-group">
            <label>标    签：</label><select class="city form-control-sm" name="city" id="param_city"><option>请选择标签</option></select>
        </div>
        @*链接*@
        <div class="form-group">
            <label>链接描述</label>
            <input type="text" class="form-control"/>
        </div>
        <div class="form-group">
            <label>链接地址</label>
            <input type="text" class="form-control"/>
        </div>
        <div class="form-group">
            <label>链接备注</label>
            <input type="text" class="form-control"/>
        </div>
        @*图片*@
        <div class="form-group">
            <label for="FileLable">选择资源图片(请只选取五个文件超出无效！)</label>
            <input type="file" class="form-control-file btn-lg" id="file" name="file" multiple="multiple">
        </div>
        <input type="submit" class="btn btn-success btn-lg" name="submit" id="submit" value="提交审核"  style="float:right"/>
    </form>
</div>
<script type="text/javascript">
    var provinces = ['请选择类别', '福利资源', '手机资源', '学习资源', '建站资源', 'PC端资源'];
    var citys = [['请选择标签'],
    ["开放下载", "免费电影"],
    ["安卓", "苹果", "破解软件"],
    ["精品课程", "赚钱教程"],
    ["网站源码", "Emolg", "Emolg主题", "Wordpress", "Wordpress主题 "],
    ["Linux", "Windows", "破解软件", "编程源码", "游戏"]];
    $(function () {
        init();
    });
    function init() {
        var province = document.getElementById('param_province');
        province.length = provinces.length;
        for (var i = 0; i < provinces.length; i++) {
            province.options[i].text = provinces[i];
            province.options[i].value = provinces[i];
        }
    }
    function provincechange() {
        var province = document.getElementById("param_province");
        var num = province.selectedIndex; // 选中option索引
        var city = document.getElementById('param_city');
        var citystemp = citys[num];
        city.length = citystemp.length;
        for (var i = 0; i < citystemp.length; i++) {
            city.options[i].text = citystemp[i];
            city.options[i].value = citystemp[i];
        }
        city.options[0].selected = true;
    }

    $(function () {
        $("#submit").click(function () {
            //通过FormData构造函数创建一个空对象，存储格式为键，值
            var formData = new FormData();
            //将$("#file")jquery对象转换成$("#file")[0]js对象，还可以使用.get(0)，
            //这样才能取得js对象的属性和方法
            //multiple="multiple" 可上传多个文件，files[0] 取第一个
            var filename = $("#file")[0].files[0];
            if (filename == null || filename == "") {
                alert("请选择要导入的文件");
                return;
            }
            if (filename != null) {
                formData.append('file', filename); //将文件转成二进制形式
                $.ajax({
                    type: "post",
                    url: "/User/Contribution",//"/控制器名/控制器内方法"
                    async: false,
                    contentType: false, //这个一定要写
                    processData: false, //这个也一定要写，不然会报错,序列化配合formData使用
                    data: formData,
                    dataType: 'json', //返回类型，有json，text，HTML。这里并没有jsonp格式，所以别妄想能用jsonp做跨域了。
                    success: function (data) {
                        alert(data);
                        window.location.reload();
                    },
                    error: function (errorThrown) {
                        alert(errorThrown);
                    }
                });
            } else {

            }
        });
    })
</script>



