
@{
    ViewBag.Title = "MainPage";
    Layout = "~/Views/Shared/_LayoutUserMain.cshtml";
}
    
    <div>
        <nav aria-label="breadcrumb" style="margin-top:15px">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">我的账户</li>
                @*<li class="breadcrumb-item active" aria-current="page">个人中心</li>*@
            </ol>
        </nav>
    </div>

